<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>解放军艺术学院</string>
	<string>清华大学美术学院</string>
	<string>中央音乐学院</string>
	<string>中国音乐学院</string>
	<string>中央美术学院</string>
	<string>中央戏剧学院</string>
	<string>中国戏曲学院</string>
	<string>北京电影学院</string>
	<string>北京舞蹈学院</string>
	<string>天津音乐学院</string>
	<string>天津美术学院</string>
	<string>沈阳音乐学院</string>
	<string>鲁迅美术学院</string>
	<string>吉林艺术学院</string>
	<string>上海音乐学院</string>
	<string>上海戏剧学院</string>
	<string>南京艺术学院</string>
	<string>中国美术学院</string>
	<string>景德镇陶瓷大学</string>
	<string>山东艺术学院</string>
	<string>湖北美术学院</string>
	<string>广州美术学院</string>
	<string>星海音乐学院</string>
	<string>广西艺术学院</string>
	<string>四川音乐学院</string>
	<string>云南艺术学院</string>
	<string>西安音乐学院</string>
	<string>西安美术学院</string>
	<string>新疆艺术学院</string>
	<string>山东工艺美术学院</string>
	<string>武汉音乐学院</string>
</array>
</plist>
